.card {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 25vw;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  min-width: 300px;
}

.card-header{
  padding: 0;
}
.mainCointaner {
  padding-top: 10vh;
}

/* .card-content{
  height: 10vh;
} */

.item-cointaner {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
}

.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.card-title {
  margin: 5px 10px;
  display: flex;
  justify-content: space-between;
  word-break: break-all;
}

.card-subtitle {
  margin: 5px 10px;
  color: #777;
}

.amount {
  margin: 10px 10px;
}
.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}

.card-excerpt {
  color: #777;
  margin: 10px 0 20px;
}

.scrollToTop{
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
    right: 0;
    top: 80vh;
    background: transparent;
    background-color: grey;
    opacity: 35px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}