
/* footer */

.footer {
    margin: 10px 0px 0px 0px;
    padding: 10px;
    position: relative;
    background-color: #32353c;
    left: 0;
    bottom: 0;
  }
  
  .footer-subCointaner {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .about {
    color: white;
  }
  
  @media only screen and (max-width:768px){
    .about {
  
    }
  
    .footer-subCointaner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .about-list {
    color: #6f6f6f;
    padding: 10px 0px;
  }
  
  .about-list span {
    color: #6f6f6f;
  }
  .about-list li {
    padding: 4px 0;
  }
  